-# .message
-#   .upper-message
-#     .upper-message__user-name
-#       = message.user.name
-#     .upper-message__date
-#       = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
-#   .lower-message
-#     - if message.content.present?
-#       %p.lower-message__content
-#         = message.content
-#     = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
.list__box
  .list__box__upper
    .list__box__upper__name
      = message.user.name
    .list__box__upper__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  - if message.content.present?
    .list__box__message__comment
      = message.content
    = image_tag message.image.url, class: 'list__box__message__comment__image' if message.image.present?