.side
  .side__header
    .side__header__user-box
      .side__header__user-box__name 
        masa
      .side__header__user-box__icon
        =link_to "#",class:"side__header__user-box__icon" do
          = icon('far','keyboard')
        =link_to "#",class:"side__header__user-box__icon" do
          = icon('fas','cog')
  .side__list
    .side__list__group-block
      .side__list__group-block__name
        techcamp
      .side__list__group-block__message
        まだメッセージがありません

