* {
  box-sizing: border-box;
}



.wrapper{
  display: flex;
}
.side {
  &__header{
    height: 100px;
    width: 300px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: center;
    &__user-box{
      height: 20px;
      width: 260px;
      background-color:#253141;
      display: flex;
      justify-content:space-between;
      
      &__name{
        color:#ffffff;
        font-size: 16px;
      }
      &__icon{
        color:#ffffff;
        width: 60px;
        background-color: #253141;
        text-decoration:none;
        padding: 0px 0px 0px 5px;
        text-align:right;
      }
    }
  }
  &__list{
    height: calc(100vh - 100px);
    width: 300px;
    background-color:#2f3e51;
    &__group-block{
      &__name{
        font-size: 15px;
        color:#ffffff;
        padding: 20px 20px 5px 20px;
      }
      &__message{
        font-size: 11px;
        color:#ffffff;
        padding: 0px 20px 40px 20px;
      } 
    }  
  }
}

.main{
  height: 100vh;
  width: calc(100vw - 300px);
  .header{
    height: 100px;
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    padding:35px 40px 15px 40px;
    border-bottom: solid 1px #eeeeee;
    

    &__list{
      &__name{
      font-size: 20px;
      color:#333333;
      padding-bottom:15px;
      }
      &__member{
      font-size: 12px;
      color:#999999;
      }
    }
    &__edit{
      color:#38aef0;
      display: block;
      font-size: 16px;
      border: #38aef0 solid 1px; 
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      &__box{
        //何も入れていない
      } 
    }  
  }
  .list{
    height: calc(100vh - 100px - 90px);
    width: calc(100vw - 300px);
    background-color: #ffffff;
    list-style: none;
    overflow: scroll;
    &__box{
      margin-left: 40px;
      &__upper{
        display: flex;
        justify-content: start;
        padding-top: 35px;
        &__name{
          font-size: 16px;
          color:#333333;
          
        }
        &__time{
          font-size: 12px;
          color:#999999;
          margin-left: 10px;
        }
      }
      &__message{
        font-size: 14px;
        color:#434A54;
        margin-top: 12px;
        margin-bottom: 46px;
      }
    }
  }

  .form{
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    .new_message{
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .div{
        position: relative;
        margin-left: 50px;
        width:100%;
        .message{
          border-style: none;
          padding: 0 40px 0 10px;
          height: 100%;
          width: 100%;
        }
        .img-icon{
          position: absolute;
          right: 20px;
          line-height: 50px;
          bottom: 2px;
          font-size: 25px;
          cursor: pointer;
          input{
            display: none;
          }
        }
      }
      .send-btn{
        margin: 0 40px 0 15px;
        padding: 0 20px;
        color: #ffffff;
        background-color: #38aef0;
        text-decoration: none;
        line-height: 50px;
        font-size: 20px;
      }
    }
  } 
}
.field_with_errors {
  display: contents;
}